<footer>
    <div class="container">
        <p>
            <img src="@Url.Content("~/Content/images/tz-logo.png")" />
        Techzone - Eros International Pvt Ltd &copy; @DateTime.Now.Year</p>
    </div>
</footer>
